
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;

}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;

}

.container ul li{
    padding-bottom: 30px;
}
.container1{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    height: 400px;
}
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
.header{
    padding: 30px 0px 30px;
    background-color: #a9cff5;
    padding-left: 200px;
    color: hsla(0, 0%, 100%, 0.9);
    font: normal 40px Varela Round, sans-serif;
    letter-spacing: 5px;
    animation: move linear 2000ms infinite;
}

@keyframes move {
    0% {
        text-shadow:
                4px -4px 0 hsla(114, 64%, 46%,1),
                3px -3px 0 hsla(114, 64%, 46%,1),
                2px -2px 0 hsla(114, 64%, 46%,1),
                1px -1px 0 hsla(114, 64%, 46%,1),
                -4px 4px 0 hsla(180, 100%, 50%, 1),
                -3px 3px 0 hsla(180, 100%, 50%, 1),
                -2px 2px 0 hsla(180, 100%, 50%, 1),
                -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
    }
    25% {
        text-shadow:
                -4px -4px 0 hsla(180, 100%, 50%, 1),
                -3px -3px 0 hsla(180, 100%, 50%, 1),
                -2px -2px 0 hsla(180, 100%, 50%, 1),
                -1px -1px 0 hsla(180, 100%, 50%, 1),
                4px 4px 0 hsla(114, 64%, 46%, 1),
                3px 3px 0 hsla(114, 64%, 46%, 1),
                2px 2px 0 hsla(114, 64%, 46%, 1),
                1px 1px 0 hsla(114, 64%, 46%, 1)
    ;
    }
    50% {
        text-shadow:
                -4px 4px 0 hsla(114, 64%, 46%, 1),
                -3px 3px 0 hsla(114, 64%, 46%, 1),
                -2px 2px 0 hsla(114, 64%, 46%, 1),
                -1px 1px 0 hsla(114, 64%, 46%, 1),
                4px -4px 0 hsla(180, 100%, 50%, 1),
                3px -3px 0 hsla(180, 100%, 50%, 1),
                2px -2px 0 hsla(180, 100%, 50%, 1),
                1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
    }
    75% {
        text-shadow:
                4px 4px 0 hsla(180, 100%, 50%, 1),
                3px 3px 0 hsla(180, 100%, 50%, 1),
                2px 2px 0 hsla(180, 100%, 50%, 1),
                1px 1px 0 hsla(180, 100%, 50%, 1),
                -4px -4px 0 hsla(114, 64%, 46%, 1),
                -3px -3px 0 hsla(114, 64%, 46%, 1),
                -2px -2px 0 hsla(114, 64%, 46%, 1),
                -1px -1px 0 hsla(114, 64%, 46%, 1)
    ;
    }
    100% {
        text-shadow:
                4px -4px 0 hsla(114, 64%, 46%, 1),
                3px -3px 0 hsla(114, 64%, 46%, 1),
                2px -2px 0 hsla(114, 64%, 46%, 1),
                1px -1px 0 hsla(114, 64%, 46%, 1),
                -4px 4px 0 hsla(180, 100%, 50%, 1),
                -3px 3px 0 hsla(180, 100%, 50%, 1),
                -2px 2px 0 hsla(180, 100%, 50%, 1),
                -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
    }
}


.menu li{
    padding-top: 25px;
    background-color: #fff;
    display: inline-block;
    justify-content: space-between;
}

.menu a{

    color: #323232;
    font-size:16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all .3s;

}

footer {
    left:0px;
    bottom:0px;
    height:130px;
    width:100%;
    background-color: #64acf6;
}

.menu a:hover{
    border-color:#0099cc;
}
.menu li + li{
    padding-left: 10px;
}
.load_img{
    padding-top: 120px;
    display: inline-block;
}
.search{
    background-color: #64acf6;
    color: #d0e4f8;
    padding: 4.5em 0 2.5em 0 ;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url("../photos/others/overlay.png"), url("../photos/others/pattern-size1.svg");
    background-position: top left, center center;
    background-attachment: fixed, fixed;
    background-size: auto, cover;
    height: 20vh;
    min-height: 35em;
}
h2{
    padding-right: 20px;
}
h3{
    font-family: "Comic Sans MS";
}
p{
    font-family: cursive;
    font-size:15px;
    line-height:20px;
}
img{
    border-block-color: cyan;
    border: 2px solid;
    padding: 2px;
    border-radius:5px;


}


/*.previous {
    background-color: mediumspringgreen;
    color:black;
}*/



.round {
    border-radius: 50%;
}
.swap {
    display: block;
    margin: 0 auto;

}
p {
    text-indent: 20px; /* Отступ первой строки в пикселах */
}
a{
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                     0px -5px 35px rgba(255,255,255,0.3);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 3px;
    margin-left: 3px;
}

.previous {
    text-decoration: none;
    display: inline-block;
    padding: 0px 10px;
    margin: 0px 10px;
    position: relative;
    overflow: hidden;
    border: 2px solid mediumpurple;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: darkslategrey;
    transition: .2s ease-in-out;
    top:6px;
}
.previous:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}
.previous:hover {
    background: cornflowerblue;
    color: #fff;
}
.previous:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}
.next {
    text-decoration: none;
    display: inline-block;
    padding: 0px 10px;
    margin: 0px 10px;
    position: relative;
    overflow: hidden;
    border: 2px solid mediumpurple;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: darkslategrey;
    transition: .2s ease-in-out;
    top:6px;
}
.next:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}
.next:hover {
    background: cornflowerblue;
    color: #fff;
}
.next:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}
.left-btn {
    text-decoration: none;
    display: inline-block;
    padding: 0px 10px;
    margin: 0px 10px;
    position: relative;
    overflow: hidden;
    border: 2px solid mediumpurple;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: darkslategrey;
    transition: .2s ease-in-out;
}
.left-btn:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}
.left-btn:hover {
    background: limegreen;
    color: #fff;
}
.left-btn:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}
.right-btn {
    text-decoration: none;
    display: inline-block;
    padding: 0px 10px;
    margin: 0px 10px;
    position: relative;
    overflow: hidden;
    border: 2px solid mediumpurple;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: darkslategrey;
    transition: .2s ease-in-out;
}
.right-btn:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}
.right-btn:hover {
    background: red;
    color: #fff;
}
.right-btn:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}
.cont{
    margin-top: 100px;
    width:100%;
    display:inline-block;
    /*padding:20px 0px 190px;*/
}

.left-btn, .right-btn{
    width: 100px;
    height: 50px;
    font-size: 16px;
}

.left-btn{
    margin-right: 250px;
}

.cont form img{
    width: 500px;
    height: 400px;
}

.cont form{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 500px;
    height 400px;
    margin-top:150px;
}


/* Стили слайдера */

li img {
  display: block;
  margin: 0 auto;
  width: 100%; !important;
}


.sim-slider {
  top: 5%;
  left: 40%;
  height: 450px;
  width: 320px;
  margin: 30px auto;
  margin-bottom:70px;
  padding: 30px 50px;
  align: center;
  background-color: white;
  display:inline-block;
}

/* General styles */
.sim-slider {
  position: relative;
}

.sim-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.sim-slider-element {
  height: 450px;
  width: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;
}

div.sim-slider-arrow-left {
  left: 10px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;
}

div.sim-slider-arrow-right {
  right: 10px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;
}

div.sim-slider-arrow-left:hover {
  opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
  opacity: 1.0;
}

div.sim-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
}

span.sim-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #BBB;
  border-radius: 5px;
  cursor: pointer;
}

.social-icons ul{
            list-style: none;
            display: flex;
            justify-content: center;
        }

.copy-bottom-txt span {
    margin-left: 300px;
}


.social-icons ul li{
    padding-right:30px;
}

.social-icons ul li a span {
        color: #000;
        width: 34px;
        background: #fff;
        height: 34px;
        text-align: center;
        line-height: 34px;
        border-radius: 20px;
        font-size: 13px;
        margin: 0px 2px;
        border-radius: 20px;
        font-size: 14px;
        margin: 0px 2px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
        -moz-transition: 0.5s all;
        }

.social-icons ul li a span:hover{color:#0ccbf1;}
        .copy-bottom-txt p{font-size:18px;
        color:#fff;
        }

.container_animal p, .con1 p, .con2 p{
    padding-left:100px;
    padding-right:100px;
    font-size:16px;
    line-height:25px;
}

.con1 h3, .con2 h3{
    text-align:center;
}

.con2 p{
    margin-bottom:50px;
}

.con2 h3{
    margin-top:30px;
}