<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Python.FlaskServer">
    <option name="additionalOptions" value="--host=0.0.0.0" />
    <option name="flaskDebug" value="true" />
    <module name="LostiesAnimalRecognizerService" />
    <option name="target" value="C:\Users\diman\Desktop\Pycharm Projects\LostiesAnimalRecognizerService\app.py" />
    <option name="targetType" value="PATH" />
    <option name="INTERPRETER_OPTIONS" value="" />
    <option name="PARENT_ENVS" value="true" />
    <envs>
      <env name="PYTHONUNBUFFERED" value="1" />
      <env name="SQLALCHEMY_DATABASE_URI" value="sqlite:///animals.db" />
      <env name="SECRET_KEY" value="7hjfhjfeyruyend643rfbubeuby34ru34ru3bf4vfy33bf3ff34yv3yvbwbscccecnenufbubedbevdyxjawawihfrgtrjasdfgxcvbnmpoi0" />
    </envs>
    <option name="SDK_HOME" value="" />
    <option name="WORKING_DIRECTORY" value="$PROJECT_DIR$" />
    <option name="IS_MODULE_SDK" value="true" />
    <option name="ADD_CONTENT_ROOTS" value="true" />
    <option name="ADD_SOURCE_ROOTS" value="true" />
    <EXTENSION ID="PythonCoverageRunConfigurationExtension" runner="coverage.py" />
    <option name="launchJavascriptDebuger" value="false" />
    <method v="2" />
  </configuration>
</component>